@import "tailwindcss";
/* @font-face {
  font-family: "Neue Machina";
  src: url("src/assets/Fonts/NeueMachina-PlainRegular.otf");
  src: url("src/assets/fonts/corier.ttf");
}

body {
  font-family: "Neue Machina", sans-serif;
}

.notify-bg {
  src: url("./assets/Fonts/NeueMachina-PlainRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.ff-courir {
  font-family: "Courier New";
}
body {
  font-family: "Neue Machina";
} */

@font-face {
    font-family: 'courier New';
    src: url('../assets/fonts/cour.ttf');
}

@font-face {
    font-family: 'Neue Machina';
    src: url('./assets/fonts/NeueMachina-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('./assets/fonts/NeueMachina-Ultrabold.otf');
    font-weight: 800;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('./assets/fonts/NeueMachina-Light.otf');
    font-weight: 300;
}

body {
    font-family: 'Neue Machina';
}

.ff-courier {
    font-family: "Courier New";
}

.ff-neue {
    font-family: 'Neue Machina';
}

